body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

button[type="submit"] {
	cursor: pointer;
	background-color: white;
	border-radius: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: 2px solid;
	padding: 10px;
	transition: all 0.5s;
}

button[type="submit"]:hover {
	background-color: black;
	color: white;
}

div.image-dog {
	border: 1px solid;
	width: 500px;
	height: 400px;
	margin-bottom: 15px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

h1.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	margin-bottom: 25px;
}
