* {
	font-family: sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

td {
	border: 1px solid;
	padding: 3px;
	text-align: center;
}

table tr td:first-child {
	text-align: left;
}

table tr:nth-child(even) td {
	background-color: #cefcd2;
}

table tr:first-child td {
	background-color: yellow;
	text-align: center;
}

table tr:nth-child(2) td {
	background-color: darkgray;
	text-align: center;
}
